
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .wrapper {
    height: 100vh;
    background: #000;
  
    /*This part is important for centering*/
    display: grid;
    place-items: center;
  }
  
  .portrait {
    font-size: 1
      px;
    line-height: 8px;
    background: url('https://scontent.fdvo3-1.fna.fbcdn.net/v/t1.15752-9/430302022_1329013234452230_3975240951355652229_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEJDmd4ZSoMBmnWydCP_5ewnveTccOq6xye95Nxw6rrHAc7jOjFVD1s5vvWXRnqZfkEofVgEw2bu5OlQAPzaw6Q&_nc_ohc=l_Zkwo951KoAX_-afQ-&_nc_oc=AQkbdOgAzexiDzzzYb-4jfw8x3YDIuu96aZhEzdgptagIpCq0cfOHuo9k-4Ly1WhJbE&_nc_ht=scontent.fdvo3-1.fna&oh=03_AdREo0KKti5jIjl3lERVE9HxZB62iwl3HwI_DdJm7VtC6g&oe=66125037') fixed center no-repeat;
    background-size: contain;
  }
  
  /* This part is important for the feature itself */
  .portrait {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255,255,255,.1);
  }